<p-toast></p-toast>
<div style="border: 1px solid; background-color: green;">
  
  <p-header><h2>Registrar</h2></p-header>
</div>
<p-toolbar styleClass="p-mb-4">
  
  <ng-template pTemplate="left">
    <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2"
            (click)="openCreateModal()"></button>
  </ng-template>
</p-toolbar>

<!--Table-->
<p-table [value]="registrar" [(selection)]="selectedRegistrar" selectionMode="single" (onRowSelect)="onRowSelect($event)">
  <ng-template pTemplate="header">
    <tr>
      <th>Student</th>
      <th>class</th>
      <th>Course</th>
      <th>Test</th>
      <th>Test Result</th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-registrar>
    <tr [pSelectableRow]="registrar">
      <td>{{registrar.name}}</td>
      <td>{{registrar.class}}</td>
      <td>{{registrar.course}}</td>
      <td>{{registrar.test}}</td>
      <td>{{registrar.test_result}}</td>
      
      <td>
        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
                (click)="openEditModal(registrar)"></button>
        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"
                (click)="deleteRegistrar(registrar)"></button>
      </td>
    </tr>
  </ng-template>
</p-table><div  style="margin-top:2000 px;">

  <span>Copyright (C) 2022 by FHC</span>
</div>